.Main-paragraph-heading,.Sub-Heading-to-main-para-heading,.Main-paragraph-heading---Centre,.main-paragraph-style
{
	font-family: antic-slab-n4, sans-serif;
}

.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.Controlers_caption
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u7746-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7764-4,#u7747-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7749-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7752-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7760-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7761-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7763-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7739-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7740-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7770-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7769-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu7743_input,#widgetu7743_prompt,#widgetu7748_input,#widgetu7748_prompt,#widgetu7738_input,#widgetu7738_prompt,#widgetu7767_input,#widgetu7767_prompt
{
	font-family: open-sans, sans-serif;
}

#u7728-8
{
	font-family: antic-slab-n4, sans-serif;
}

#u7395-4.AccordionPanelTabOpen p,#u7395-4.AccordionPanelTabOpen span,#u5924-4.AccordionPanelTabOpen p,#u5924-4.AccordionPanelTabOpen span
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u5070-4
{
	font-family: open-sans-n7, sans-serif;
}

#u5064-4,#u5062-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2957-4,#u2964-4,#u2965-4,#u2985-8,#u2997-3,#u3011-4,#u3273-3,#u3272-4,#u3540-3,#u3480-4,#u3497-4,#u3462-4
{
	font-family: antic-slab-n4, sans-serif;
}

