.Main-paragraph-heading,.Sub-Heading-to-main-para-heading,.Main-paragraph-heading---Centre,.main-paragraph-style
{
	font-family: antic-slab-n4, sans-serif;
}

.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.Controlers_caption
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u7803-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7785-4,#u7801-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7791-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7788-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7792-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7794-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7812-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7797-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7799-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7814-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7816-5
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu7800_input,#widgetu7800_prompt,#widgetu7787_input,#widgetu7787_prompt,#widgetu7795_input,#widgetu7795_prompt,#widgetu7813_input,#widgetu7813_prompt
{
	font-family: open-sans, sans-serif;
}

#u7735-9
{
	font-family: antic-slab-n4, sans-serif;
}

#u4286-4,#u4289-4,#u4290-4,#u7634-4,#u6378-8,#u4296-3,#u4301-4,#u6604-4,#u4399-4
{
	font-family: antic-slab-n4, sans-serif;
}

