
@import "./assets/fonts/Shanghai.css"
@import "./assets/fonts/Inter_Web/Inter.css"

*, *::before, *::after
    box-sizing: border-box

html
    height: 100%

body, html
    margin: 0
    padding: 0

body
    background: #111111
    min-height: 100%
    font-family: Inter, Arial
    color: white

    iframe
        margin-top: 24px
        height: 80vh
    @media (min-width: 500px)
        position: relative
        iframe
            height: 60vh
            min-height: 500px
        // padding-bottom: 400px

        // iframe
        //     position: absolute
        //     left: 0
        //     bottom: 0
        //     right: 0
        //     height: 400px

header
    position: relative
    text-align: center

    h1
        font-family: 'Shanghai', Arial
        color: white
        font-size: 24px
        letter-spacing: 3px
        padding: 12px 0
        margin: 0
        @media (min-width: 500px)
            font-size: 32px
            padding: 32px

main
    text-align: center
    padding: 16px 32px
    max-width: 900px
    margin: 0 auto

    p
        margin: 0
    
    p + p
        margin-top: 8px

    ._about
        color: #dddddd
        line-height: 2

        em
            color: white

        font-size: 13px
        @media (min-width: 500px)
            font-size: 17px
            line-height: 1.7
            text-align: left

    ._menu
        display: flex
        justify-content: center
        align-items: center
        margin-top: 40px

        a
            width: 250px

        img
            width: 100%

        a + a
            margin-left: 32px

    ._contact
        font-size: 14px
        line-height: 1.8

        a
            color: #0EABAB
            text-decoration: none

        margin-top: 32px
        @media (min-width: 500px)
            font-size: 16px
            margin-top: 64px

            br
                display: none

    ._link-facebook
        a
            color: white

        margin: 24px 0
        @media (min-width: 500px)
            margin: 40px 0

.cookies-banner
    display: flex
    justify-content: space-between
    align-items: center
    flex: 0 0 auto

    font-size: 4.5vw
    @media (min-width: 460px)
        font-size: 18px

    position: fixed
    bottom: 0
    left: 0
    width: 100%
    padding: 24px

    background: #0eabab

    transition: transform 0.4s ease-out
    transform: translateY(100%)

    &.show
        transform: translateY(0%)

    &, a
        color: white

    button
        margin-left: 32px

        font-size: 5vw
        @media (min-width: 460px)
            font-size: 18px

        background: white
        border: 0
        outline: 0
        cursor: pointer
        min-height: 32px
        padding: 8px 16px